@import "tailwindcss";

@keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-down {
    animation: fade-in-down 0.4s ease-out;
  }
  

  /* Glassmorphism para el contenedor */
.glass-container {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
  transition: all 0.3s ease;
}
